<div class="main-container">
  <div class="navbar-container">
    <div class="menu-toggle-container" (click)="navbarVisibility = !navbarVisibility">
      <i class="fa fa-bars navbar-toggle"></i>
      <p class="menu-toggle-description">Menu</p>
    </div>
    <ul class="navbar-list" (window:resize)="resizeToggleNavbar()" [ngStyle]="setNavbarVisibility()">
      <li class="navbar-item" (mouseenter)="setHoverStyle(0)" (mouseleave)="setHoverStyle(0)" [ngStyle]="applyHoverStyle(0)" (click)="setComponent('intro')"><i class="fa fa-home navbar-icon"></i>Home</li>
      <!-- <li class="navbar-item"(mouseenter)="setHoverStyle(1)" (mouseleave)="setHoverStyle(1)" [ngStyle]="applyHoverStyle(1)"><i class="fa fa-list navbar-icon"></i>Features</li>
      <li class="navbar-item"(mouseenter)="setHoverStyle(2)" (mouseleave)="setHoverStyle(2)" [ngStyle]="applyHoverStyle(2)"><i class="fa fa-envelope navbar-icon"></i>Contact</li> -->
      <div class="navbar-action-list" [ngStyle]="setActionBarVisibility()">
        <li class="navbar-action-item" (mouseenter)="setHoverStyle(3)" (mouseleave)="setHoverStyle(3)" [ngStyle]="applyHoverStyle(3)" (click)="setComponent('register')"><i class="fa fa-pencil navbar-action-icon"></i>Register</li>
        <li class="navbar-action-item" (mouseenter)="setHoverStyle(4)" (mouseleave)="setHoverStyle(4)" [ngStyle]="applyHoverStyle(4)" (click)="setComponent('login')"><i class="fa fa-sign-in navbar-action-icon"></i>Login</li>
      </div>
    </ul>
  </div>
</div>
