<div class="main-container">
  <div class="header-container">
    <h2 class="main-header">Palette > Edit</h2>
  </div>
  <div class="output-container" *ngIf="palette">
    <form #f="ngForm" (ngSubmit)="updatePalette(f.value, palette._id)" class="palette-edit-form">
      <div class="form-row">
        <label class="form-label" for="name">Palette Name: </label>
        <input class="form-input" type="text" placeholder="Colour Palette #1" ngModel="{{palette.name}}" id="name" #name name="name">
      </div>
      <div class="form-row">
        <label class="form-label" for="description">Palette Description: </label>
        <input class="form-input" type="text" placeholder="Palette Description #1" ngModel="{{palette.description}}" id="description" #description name="description">
      </div>
      <div class="form-row">
        <button class="input-cancel" (click)="setComponent('palettes-manage')">Cancel</button>
        <input type="submit" value="Save" class="input-save">
      </div>
    </form>
  </div>
</div>
