<div class="main-container">
  <div class="header-container">
    <h2 class="main-header">Profile > Change Password</h2>
  </div>
  <form #f="ngForm" (ngSubmit)="updatePassword(f.value)" class="profile-form">
    <div class="input-row">
      <p class="input-label">Current Password:</p>
      <input type="password" placeholder="Current Password" name="currentPassword" id="currentPassword" #currentPassword class="input-description" ngModel>
    </div>
    <div class="input-row">
      <p class="input-label">New Password:</p>
      <input type="password" placeholder="New Password" name="newPassword" id="newPassword" #newPassword class="input-description" ngModel>
    </div>
    <div class="input-row">
      <button class="input-cancel" (click)="clearComponent()">Cancel</button>
      <input type="submit" value="Save" class="input-save">
    </div>
  </form>
</div>
